<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.3.152" />
    <add key="ServerPort" value="8090" />
    <add key="bufferLen" value="1024" />
    <add key="checkSendDataQueueTimeInterval" value="10" />
    <add key="checkDataBaseQueueTimeInterval" value="300" />
    <add key="strSqlCfg" value="server=localhost;user id=root;pwd=123456;port=3306;pooling=False;charset=utf8;database=dblaser" />
    <add key="overTime" value="1000" />
    <add key="maxOverTimes" value="5" />
    <add key="startID" value="1" />
    <add key="stopID" value="2" />
    <add key="channel" value="30" />
  </appSettings>
</configuration>